.custom_button{
  margin: 12px 42px;
  padding: 6px 14px;
  font-size: 24px;
}

h6,h5{
  text-align: center;
  margin: 24px 16px!important;
  padding: 1px 1px;
}


.vitals_content{
  display: block;
  margin: 0 24px;
  // padding: 8px 8px;
  max-height: 65vh;
  // overflow: auto;
}

.vitals_button{
  margin: 8px;
  padding: 6px 14px;
  font-size: 20px
}
