.dropdown{
  max-height: 100px ;
  width: 110% ;
  background-color: #f6f6f6;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  padding: 4px ;
  border-radius: 2px ;
  position: absolute;
}

.dropdown p{
  cursor: pointer;
}
