.policy {
    padding: 6%;
}


.next-but {
  border-radius: 4px;
  background-color: #74ce3e;
  color: #ffffff;
  z-index: 1;
  border: none;
  padding: 4px 12px 4px 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 60px;
  }
  
  .next {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
  }