body {
  background-color: #f7f8f9;
}

.card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 34, 51, 0.1);
  box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  border-radius: 0.15rem;
}

/* Tabs Card */

.tab-card {
border:1px solid #eee;
}

.card_title{
  margin-bottom: 2.5rem;
}

.tab-card-header {
background:none;
}
/* Default mode */
.tab-card-header > .nav-tabs {
border: none;
margin: 0px;
}
.tab-card-header > .nav-tabs > li {
margin-right: 2px;
}
.tab-card-header > .nav-tabs > li > a {
border: 1px solid white;
/* border-bottom:2px solid transparent; */
margin-right: 20px;
color: #737373;
padding: 2px 15px;
}

.tab-card-header > .nav-tabs > li > a.show {
  /* border-bottom:2px solid #007bff;
  color: #007bff; */
  border: 1px solid #89D068;
}
.tab-card-header > .nav-tabs > li > a:hover {
  /* color: #007bff; */
  border: 1px solid #89D068;
}

.tab-card-header > .tab-content {
padding-bottom: 0;
}

.exam_ul_li a {
  width: 102px;
  height: 112px;
  text-align: center;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgb(243, 243, 243);
  position: relative;
}

.li_a_para{
  color: #2A2D34;
  font-weight: 500;
  font-size: 14px;
  margin: 0px;
  margin-top: 12px;
}

.li_a_img{
  margin-top: 34px;
}

.li_a_pill_img{
  position: absolute;
  top: 6px;
  left: 6px;
  width: 44px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  // border: none;
  border: 1px solid #89D068 !important;
}

.li_a_pill_pending_img{
  position: absolute;
  top: 6px;
  left: 6px;
  width: 58px;
}

.exam_common_input{
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 4px 10px 4px 10px;
  background-color: #F8F7FF;
}

.exam_common_input:active , .exam_common_input:focus{
  outline: none;
  box-shadow: none;
}

.exam_save_btn{
  border: none;
  border-radius: 3px;
  background-color: #7C76FE;
  padding: 4px 18px 4px 18px;
  color: white;
  margin-left: 16px;
}

.date_save_btn {
  padding: 4px 18px 4px 18px;
}

.exam_saved_btn{
  border: none;
  border-radius: 3px;
  background-color: rgb(213, 213, 218);
  padding: 4px 18px 4px 18px;
  color: rgb(0, 0, 0);
  margin-left: 16px;
}

.exam_save_btn:active , .exam_save_btn:focus{
  outline: none;
  box-shadow: none;
}

.exam_select_button {

    border: none !important;
    background-color: #f7f8ff;
    border-radius: 4px ;
    padding: 4px 10px ;
    color: black;
}

.teeth_chart{

  width: 50%;
}

.teeth_chart td, .teeth_chart th {
  border: 1px solid lightgrey;
  padding: 6px;
  width: 300px !important;
}

.item_unit_present{
  display: flex;
}

.exam_month_button{
  border: none !important;
  background-color: #f7f8ff;
  border-radius: 8px ;
  padding: 4px 10px
}

.section_row{
  margin-bottom:18px ;
}
