<div class="col-lg-12">
  <div class="col-lg-10">
    <h4><b>Forgot Password</b></h4>
    <span>Welcome, Book appointments with your favourite doctors</span>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" class="mt2" *ngIf="!isForgotSubmit; else forgotSubmit">
      <div class="form-group">
        <label for="email">Email Address
          <sup>*</sup>
        </label>
        <input type="email" class="form-control" id="email" placeholder="Enter the email address"
          formControlName="email">
        <div class="invalid-feedback" *ngIf="isFieldValid1('email')">
          <div *ngIf="forgotForm.controls['email'].hasError('required')">
            Email address is required
          </div>
          <div *ngIf="forgotForm.controls['email'].hasError('email')">
            Invalid email address
          </div>
        </div>
      </div>
      <div class="row-fluid mt-3">
        <button type="button" class="btn btn-outline-secondary mr-3" (click)="goBack()">Back</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="row">
        <div class="col-sm-12 disclaimer_container">
            Disclaimer:If there's a Clinicplush account connected to this email address,
            we'll email you password reset code.If you don't receive the email, please try
            again and make sure you enter the email address associated with your Clinicplush account.
        </div>
      </div>
    </form>

    <ng-template #forgotSubmit>
      <form [formGroup]="forgotSubmitForm" (ngSubmit)="onForgotSubmit()" class="mt2">
        <div class="form-group">
          <label for="email">Email Address
            <sup>*</sup>
          </label>
          <input type="email" class="form-control" id="email" placeholder="Enter the email address"
            formControlName="email">
        </div>
        <div class="form-group">
          <label for="code">Confirmation Code
            <sup>*</sup>
          </label>
          <input type="text" class="form-control" id="code" placeholder="Enter the confirmation code"
            formControlName="code">
          <div class="invalid-feedback" *ngIf="isFieldValid('code')">
            <div *ngIf="forgotSubmitForm.controls['code'].hasError('required')">
              Confirmation code is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password<sup>*</sup></label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
          <div class="invalid-feedback" *ngIf="isFieldValid('password')">
            <div *ngIf="forgotSubmitForm.controls['password'].hasError('required')">
              Password is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPwd">Confirm Password<sup>*</sup></label>
          <input type="password" class="form-control" id="confirmPwd" formControlName="confirmPwd"
            placeholder="Confirm Password">
          <div class="invalid-feedback" *ngIf="isFieldValid('confirmPwd')">
            <div *ngIf="forgotSubmitForm.controls['confirmPwd'].hasError('required')">
              Confirm Password is required
            </div>
            <div *ngIf="forgotSubmitForm.controls['confirmPwd'].hasError('mustMatch')">
              Passwords does not match
            </div>
          </div>
        </div>
        <div class="row-fluid mt-3">
          <button type="button" class="btn btn-outline-secondary mr-3" (click)="goBack()">Back</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </ng-template>
  </div>

</div>
