
  .steps {
    width: 100%;
    box-shadow: 0px 10px 15px -5px rgba(218, 218, 218, 0.3);
    background-color: #FFF;
    padding: 24px 0;
    position: relative;
    margin: auto;
  }
  
  .steps::before {
    content: '';
    position: absolute;
    top: 0;
    height: 24px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    left: calc(50px / 2);
    z-index: 1;
  }
  
  .steps::after {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 5px 0px var(--primary-color);
    border-radius: 15px;
    left: calc(50px / 2);
    bottom: 24px;
    transform: translateX(-45%);
    z-index: 2;
  }
  
  .step {
    padding: 0 20px 24px 50px;
    position: relative;
    transition: all 0.4s ease-in-out;
    background-color: #FFF;
  }
  
  .step::before {
    content: '';
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: rgb(198, 198, 198);
    border-radius: 15px;
    left: calc(50px / 2);
    transform: translateX(-45%);
    z-index: 2;
  }
  
  .step::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgb(198, 198, 198);
    left: calc(50px / 2);
    top: 0;
    z-index: 1;
  }
  
  .step.minimized {
    background-color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .step-header .header {
    user-select: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
  }
  
  .step-header .subheader {
    user-select: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
  }
  
  .step-content {
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
  }
  
  .step.minimized > .step-content {
    height: 0px;
  }
  
  .step-content.one {
    height: 600px;
    width: 100%;
    // background-color: #F5F7FD;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .step-content.two {
    height: 600px;
    width: 100%;
    // background-color: #F5F7FD;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .step-content.three {
    height: 600px;
    width: 100%;
    // background-color: #F5F7FD;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .next-btn {
    margin-right: 20px;
    border: 0;
    padding: 6px 20px;
    border-radius: 5px;
    background-color: #7C76FE;
    color: #FFF;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .close-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 0;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #7C76FE;
    color: #FFF;
    cursor: pointer;
  }
  
  /* Irrelevant styling things */
  .close-btn:hover {
    background-color: rgb(104, 96, 255);
  }
  
  .close-btn:focus {
    outline: 0;
  }
  
  /* .next-btn:hover {
    background-color: rgba(255, 0, 0, 0.6);
  } */
  
  .next-btn:focus {
    outline: 0;
  }
  
  .step.minimized:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }




  /* -------------------- */

  .search_medical_problem_m{
    width: 100%;
    background-color: white;
    padding: 4px;
    border: none;
    border-radius: 5px;
  }

  .problem_pill{
    background-color: #EBEAFD;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    color: #100C74;
    margin-right: 20px;
    cursor: pointer;
  }

  .duration_pill{
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #100C74;
    margin-right: 10px;
    cursor: pointer;
    font-size: 14px;
  }

  .medical_textarea{
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 60px;
  }

  .dur_box{
    width: 150px;
    border: none;
    border-radius: 5px;
    padding:6px;
  }


  .allerg_yes_btn{
    margin-left: 30px;
    border: none;
    background-color: white;
    border-radius: 5px;
    width:60px;
  }

  .allerg_no_btn{
    margin-left: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    width: 60px;
  }

  .dont_no_btn{
    margin-left: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    width: 100px;
  }

  .body{
    padding: 0px;
    margin:0px;
    overflow-x: hidden;
    background-color: #EEEEEE !important;
}

.p_left_inner_wrapper{
    background-color: white;
    border-radius: 5px !important;
    padding: 10px;
    margin-top: 10px !important;
}

.left_section{
    padding-left: 32px !important;
    padding-right: 32px !important;
}

// .right_section{
//     padding-left: 32px !important;
//     padding-right: 32px !important;
// }

.c_text{
    font-size: 14px;
}

.reset_link{
    text-align: right;
}

.follow_btn{
    background-color: white;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 10px;
}

.follow_btn_active{
    background-color: blue ;
    color: white ;
}

.l_textarea{
    width: 100% !important;
}

.ref_lab{
    width: 100%;
    padding: 4px;
}

.main_pdf_div{
    border: 1px solid rgb(238, 238, 238);
    width: 100%;
    height: 100vh;
    padding-top: 10px;
    border-radius: 3px;
}

.main_pdf_outer{
    // padding-left: 30px;
    // padding-right: 30px;
    padding-top: 20px;
}

.doc_detail{
    padding-left: 30px !important; 
    padding-right: 30px !important;
    margin-bottom: 20px;
}

.doc_detail p{
    margin: 0px;
    min-height: 24px !important;
    font-weight: 400px !important;
}

.doc_detail h1{
  margin:0px;
}

