<div class="dashboard-container">
    <div class="row justify-content-center">
        <div class="col-sm-11 card main-card">
            <img class="main_card_img" src="../../assets/welcome-dashboard.svg" alt="">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <h5 #demo class="wel_text">Welcome</h5> -->
                    <!-- <app-overlay [connectedTo]="demo" text="We can also use it on text." id="1"></app-overlay> -->
                    <p class="clinic_text">Welcome , {{clinic_name}}</p>
                    <div class="">
                        <button class="active_doc_btn">Active doctors : {{noOfDrAdded}}</button>
                        <button class="total_doc_left">Subscriptions left : {{noOfDrLeft}}</button>
                        <!-- <p>No of active doctors in the clinic : {{noOfDrAdded}}</p>
                        <p>No of subscriptions left : {{noOfDrLeft}}</p> -->
                    </div>
                    <button class="purchase_btn" [disabled]="true" (click)="onPurchaseLicense()"> Purchase More
                        License</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-11 card_wrapper">
        <div class="doc_card_inner">
            <div class="doctor_card_outer"
                *ngFor="let item of dashCardInfo; let i=index">
                <div class="card doctor_card" (click)="onClickCard(item, i)">
                    <div class="card-body card_body_div">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="card_dot">
                                    <img class="card_icon" src="../../assets/card_icon.svg" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <app-overlay [connectedTo]="demo2" text="Number Of Doctors Added." id="2"></app-overlay> -->
                            <div class="col-sm-12">
                                <p #demo2 class="doc_name">{{item.cardName}}</p>
                            </div>
                        </div>
                        <!-- <div class="">
              <p class="text-center"><i class="fa {{dashCardInfo[col + (4*row)].cardIcon}}"></i></p>
              <span class="card-title text-center">{{dashCardInfo[col + (4*row)].cardName}}</span>
            </div>                                                              -->
                        <div class="lp-status {{item.status == 'active' ? 'active' : 'inactive'}}">
                            <span *ngIf="item.status == 'inactive' && item.cardValue == 'viewDoctor'"
                                class="float-left" style="margin-left: 18px;">
                                Activate
                            </span>
                            <i class="{{item.statusIcon}}" aria-hidden="true"></i>
                            <label class="active_text_p">
                                {{getCardStatus(item.status)}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

            <!-- <h4 class="text-muted">Add Doctors</h4>   -->
            <!-- ADD DOCTOR CARDS -->
            <!-- <div class="col-sm-11 card_wrapper">
                <div class="row d-flex" *ngFor="let row_item of createRange(unusedCardsRow); let row=index">
                    <div class="doctor_card_outer col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let col_item of createRange(totalCol); let col=index">
                        <div class="card doctor_card" *ngIf="(col + totalCol*row) < unusedCards" (click)="onClickAddDoctor()">
                            <div class="card-body">
                                <p class="text-center"><i class="fa fa-user-circle"></i></p>
                                <span class="card-title text-center">Add Doctor</span>
                                <div class="lp-status inactive">

                                    <i class="fa fa-circle" aria-hidden="true"></i> Unused
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->


                <!-- <div class="card" *ngFor="let i of createRange(unusedCards);" (click)="onClickAddDoctor()">
      <div class="flex-col-center">
        <i class="fa fa-user-circle"></i>
        <span class="card-title">Add Doctor</span>
      </div>
      <div class="lp-status inactive" >
        <i class="fa fa-circle" aria-hidden="true"></i> Unused
      </div>
    </div> -->

            <!-- </div> -->
            <!-- <div class="flex-items-center mt-4">
    <button class="btn btn-secondary" (click)="onPurchaseLicense()"> Purchase More License</button>
  </div> -->
        </div>

        <!-- <div class="row justify-content-center"> -->
            <div class="card_wrapper">
                <!-- <div class="doc_card_inner"> -->
                    <!-- <div class="doctor_card_outer"> -->
                        <div class="doc_card_inner">
                            <div class="doctor_card_outer"
                                *ngFor="let col_item of createRange(unusedCards); let col=index">
                                <div class="card doctor_card" 
                                    (click)="onClickAddDoctor()">
                                    <div class="card-body card_body_div">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <span class="card_dot">
                                                    <img class="card_icon" src="../../assets/add_doc.svg" alt="">
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12" style="margin-bottom: 10px;">
                                                <span class="add_new_doc">Add Doctor</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 lp-status inactive unused_flag">
                                                <i class="fa fa-circle" aria-hidden="true"></i> Unused
                                            </div>
                                        </div>
                                        <!-- <p class="text-center"><i class="fa fa-user-circle"></i></p> -->
                                        <!-- <span class="card-title text-center">Add Doctor</span>
                                        <div class="lp-status inactive">
                                            <i class="fa fa-circle" aria-hidden="true"></i> Unused
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                <!-- </div> -->
            </div>
        <!-- </div> -->