<!-- <div class="row">
  <div class="col-sm-4" *ngFor="let patientDet of patientData">
    <mat-card class="card-content">
      <mat-card-content class="flex-row-card">
        <div class="font-weight-bold text-title">
          {{patientDet.name}}
        </div>
        <div>
          Token No: {{patientDet.tokenNo}}
        </div>
        <div class="text-phone">
          <i class="fa fa-phone-square"></i> {{patientDet.contactNo}}
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
<p>
  Patient-list will be coming soon!
</p>
